.naglowek{
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
}
li{
    margin: 10%;
    justify-content: space-evenly;
    display: inline;
}
.stopka{
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
}
.main{
    justify-content: space-evenly;

    width: 100%;
    background-color: white;
    padding: 10px;
}
.dwa{
    display:flex;
}